:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;

  // Recibe el foco desde "Saltar al contenido", pero no necesita marco visible
  &:focus {
    outline: none;
  }
}
